table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: E0E0E0;
}
footer, header {
  text-align: right;
  padding: 2px;
  width: 100%;
  left: 0;
  right: 0;
  background-color: E0E0E0;
  color: black;
}
.button {
  text-align: center;
  padding: 2px;
  background-color: #00FF00;
  width: 50%
  color: black;
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: #003000;
  color: white;
}
::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}
